/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


/* Top Nav Section */

a {
	text-decoration: none;
}

.navClass a {
	display: inline-block;
	width: 10%;
	color: dimgray;
}

.navClass {
	margin-left: 50px;
	margin-top: 20px;
}

.logo {
	display: inline-block
}

/* Header containing Innovation on Demand, Get Started, 
and the circle photo */

header {
	/* box-sizing: border-box; 
	display: block;
	width: 75%;
	height: 500px;
	margin: 60px;
	border: 5px solid purple; */
	/* height: 400px; */
} 

h1 {
	font-size: 70px;
}

.titleDivClass {
	display: inline-block;
	text-align: center;
	/* box-sizing: border-box; */
	/* box: 45%; */
	/* height: 425px; */
	margin: 100px;  
	margin-bottom: 50px;
	/* padding: 20px; */
	/* border: 5px solid red; */
	/* margin-bottom: 200px; */
}

#circlePhotoTopID {
	/* display: inline-block; */
	width: 37%;
	/* border: 5px solid red; */
	margin-top: 60px;
	margin-right: 50px;
}

/* Top Text Section for Features and About */

.topSectionClass {
	margin: 50px;
	padding-top: 20px;
	border-top: 2px solid black;
}

.featuresDivClass {
	
	display: inline-block;
	width: 45%;
	margin-right: 30px;
}

.aboutDivClass {
	display: inline-block;
	width: 45%;
}
/* Middle Rectangle Image with code */

.middle-img {
	margin-left: 50px;
	width: 85%;
}

/* Bottom Text Section for Services, Product, and Vision */

.bottomSectionClass {
	margin: 50px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.servicesDivClass {
	display: inline-block;
	width: 30%;
}

.productDivClass {
	display: inline-block;
	width: 30%;
	margin-left: 14px;
	margin-right: 14px;
}

.visionDivClass {
	display: inline-block;
	width: 30%;
}

/* Contact Section */

.contactSectionClass {
	margin: 50px;
	display: block;
}

#phoneID {
	margin-top: 12px;
	margin-bottom: 12px;
}

/* Footer */

footer {
	text-align: center;
	padding-bottom: 50px;
	margin-bottom: 50px;
}